@import 'base/variables';
@import 'functions/mixin';
@import 'base/base';
@import 'base/typography';

@import 'components/card';
@import 'components/modal';
@import 'components/forms'; 
@import 'components/loading'; 
@import 'components/radial_progress'; 
@import 'components/buttons'; 

@import 'layout/navbar';
@import 'layout/grid';

@import 'utils/utils';

@import 'pages/home';
@import 'pages/browse_movies';
@import 'pages/movie_details';
@import 'pages/dashboard';
@import 'pages/auth';
