.home_page {
    background-color: darken($dark, 12%);
}

.header {
    height: 100vh;

    .row {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2,1fr);
        height: 100%;
        .col {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .header-text-content {
            z-index: 100;
            padding-left: 3rem;
        }
    }

    .fade-effect {
        margin-top: -5rem;
        height: 10rem;
        background-image: linear-gradient(
            180deg,
            transparent,
            rgba(1,1,1, 0.98),
            darken($dark, 12%)
        );
    }
}
.discover-row {
    margin: 1rem 3rem;

    .discover_row--title {
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .discover-posters {
        display: flex;
        overflow: hidden;
        overflow-x: scroll;
        scrollbar-color:transparent transparent;
        scrollbar-width: thin;
        padding: 2rem 0;

        &:hover {
            scrollbar-color: rgba($light-red,0.8)  transparent;
        }

        .discover-poster {
            margin-right: 1rem;
            height: 15rem;
            object-fit: contain;
            transition: all .2s ease-out;

            &.poster {
                height: 25rem;
                margin-right: 2rem;
            }
        }

        &::-webkit-scrollbar {
            height: .8rem;
            
        }

            /* Track */
        &::-webkit-scrollbar-track {
            background:transparent;
            
        }

            /* Handle */
        &::-webkit-scrollbar-thumb {
            background: rgba(#555, 0.1);
        }

            /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: rgba($light-red,0.8);
        }
    }
}
